
.ant-layout-sider-children{
    overflow-y: auto;
    &::-webkit-scrollbar{
        width: 4px;
        border-radius: 2px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
        background: #a8a8a8;
        border-radius: 2px;
    }
    .ant-menu{
        border-right: 0!important;
    }
}
.ant-layout-sider-zero-width-trigger{
    top: 50px!important;
    z-index: 99!important;
}