
.tabs{
    flex-wrap: nowrap;
    margin: 0 -5px;
    overflow: hidden;
    .nav-item{
        width: 100%;
        margin: 0 5px;
        .nav-link{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #0d6efd;
            margin-bottom: 5px;
        }
    }
}
@media screen and (max-width: 600px) {
    .tabs{
        .nav-item{
            width: auto;
            .nav-link{
                padding: 0.5rem!important;
            }
        }
    }
}