.form-label{
    font-size: 18px;
    font-weight: 600;
}
.new-tag{
    input{
        width: calc(100% - 93px);
    }
    button{
        width: 83px;
        margin-left: 10px;
    }
}
.list-tag{
    min-height: calc(100% - 28px);
    ul{
        padding: 0;
        list-style-type: none;
        margin: 0 -5px;
        li{
            margin: 0 5px;
            position: relative;
            .btn-delete{
                cursor: pointer;
                position: absolute;
                line-height: 1;
                top: -6px;
                right: -6px;
                border-radius: 50%;
                background: #FFF;
            }
        }
    }
}
.ant-select{
    &:hover{
        .ant-select-selector{
            border-color: var(--bs-border-color)!important;
        }
    }
    .ant-select-selector{
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--bs-body-color);
        background-color: var(--bs-body-bg);
        background-clip: padding-box;
        border: var(--bs-border-width) solid var(--bs-border-color);
        appearance: none;
        border-radius: var(--bs-border-radius);
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        .ant-select-selection-placeholder{
            color: var(--bs-body-color)
        }
    }
    &.ant-select-focused{
        .ant-select-selector{
            border-color: #86b7fe!important;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25)!important;
        }
    }
}