.form-label{
    font-size: 18px;
    font-weight: 600;
}
.new-tag{
    input{
        width: calc(100% - 93px);
    }
    button{
        width: 83px;
        margin-left: 10px;
    }
}
.list-tag{
    min-height: calc(100% - 28px);
    ul{
        padding: 0;
        list-style-type: none;
        margin: 0 -5px;
        li{
            margin: 0 5px;
            position: relative;
            .btn-delete{
                cursor: pointer;
                position: absolute;
                line-height: 1;
                top: -6px;
                right: -6px;
                border-radius: 50%;
                background: #FFF;
            }
        }
    }
}