

.article-item{
    min-width: 300px;
    box-shadow: 0 1px 5px rgba($color: #000000, $alpha: 0.2);
    transition: box-shadow 0.3s;
    &:hover{
        box-shadow: 0 4px 10px rgba($color: #000000, $alpha: 0.3);
    }
    .authorName{
        &:hover{
            opacity: 0.8;
        }
    }
    .title{
        max-height: 48px;
        &:hover{
            opacity: 0.8;
        }
    }
    .readmore{
        width: 80px;
        &:hover{
            color: #333!important;
        }
    }
    .desc{
        max-height: 63px;
    }
    .tag-list{
        max-width: 100%;
        .list-group-item{
            margin-top: 0.25rem;
            max-width: 100%;
        }
    }
}